{% extends 'UlffPhotoWorldBundle::portal.html.twig' %}

{% block contents %}

    <div class="breadcrumbs">
        &raquo;
        <a href="{{ path('UlffPhotoWorldBundle_homepage') }}">Home</a>
        &raquo;
        About
    </div>

    <div class="center-container">
        <p class="bold">About PhotoWorld</p>
        <p>
        PhotoWorld is a very simple photo gallery, based on popular <a href="http://symfony.com/" target="_blank">Symfony2</a> framework.
        </p>
        <br>
        <p class="bold">The benefits of registering</p>
        <p>
            Signing up on PhotoWorld will enable you to browse existing galleries. You will have possibility to vote on selected photos or movies, by adding likes.
            You will also be able to create and manage your own albums.
        </p>
        <br>
        <p class="bold">Last changes</p>
        <ul>
            <li>
                <strong>14th December 2014:</strong> added possibility to upload multiple photo files
            </li>
            <li>
                <strong>20th December 2014:</strong> added possibility to upload video movies
            </li>
            <li>
                <strong>6th January 2015:</strong> due to privacy reasons, the users have to be logged in to browse galleries
            </li>
            <li>
                <strong>15th February 2015:</strong> logged in users can add likes to photos and movies
            </li>
        </ul>
        <br>
        <p>Olaf Gałązka (Ulff)</p>
    </div>

{% endblock %}
